
.tabD
	.member_top
		position relative;
		margin-bottom: 160px;
		image
			width:100%;

			.content
				position: absolute;
				top: 250px;
				left: 50%;
				background-color: #fff;
				width: 94%;
				margin-left: -47%;
				border-radius: 16rpx;
				.border
					border: 1px solid #E4CB9F;
					margin:15px;
					padding: 20px;
					border-radius: 16px;
					.title
						text
							color:#A48453;
							font-size: 30px;
							font-weight: bold;
							margin-right: 10px;

					.code
						image
							width: 26px;
							margin: 0 10px

						text
							color: #666666;
							font-size: 22px;

						.btn
							color: #fff;
							background-color: #D6B975;
							padding: 0 15px;
							border-radius: 32px;
							font-size: 22px;


							.AtButton
								overflow: hidden;
								padding: 30px 0;
								.my-button.at-button
									height: 55px;
									line-height: 53px;

								.at-button__text
									font-size: 24px;

								.btn
									float: left;




					.dotted
						border: 1px solid #D6B976;

						.AtListItem_btn
							position relative;
							color: #fff;
							margin-top: 20px;
							font-size: 26px;
							width: 85%;
							image
								width: 100%;

							.text_btn
								position: absolute;
								top: 13px;
								width: 100%;





.member_content
	padding:0 16px;
	color: #D7B975;
	font-size: 30px;
	.my
		border: 1px solid #d7b975;
		border-radius: 16px;
		background-color: #404040;
		padding: 15px 0;
		margin-bottom: 20px;
		.border
			border:.5px solid #847758;
			margin: 10px 30px 30px 30px;

		.title
			padding-left: 30px;

		.more
			color: #999999;
			font-size: 24px;
			text-align: right;
			padding-right: 30px;

		.tab
			float: left;
			text-align: center;
			.num
				color: #fff;

			.text
				font-size: 26px;
