.index{
    .border{
      border:.5px solid #EEEEEE;
      margin: 10px 0;
      }
      .orderState{
          .item-content__info-title{
              color: #D7B975;
              font-size: 28px;
            }
        }
      .expressage{
        .at-list__item--thumb,.item-thumb{
            width: 50px;
            height: 45px;
          }
          .item-content__info-title{
              color: #D7B975;
              font-size: 28px;
            }
            .item-content__info-note{
                  color: #B1B1B6;
                  font-size: 24px;
                }
        }
        .address{
              color: #333;
              font-size: 28px;
          }
  .orderDetail_content{
    margin-top: 20px;
    .at-card{
      border: 0;
      margin: 0;
      }
    .img{
      width: 100%;
      border-radius: 16px;
      }
    .at-card__header-title{
      color: #282828;
      font-size: 28px;
      }
      .myOrder_content_total{
      .total{
        font-size: 24px;
        color: #333333;
        text-align: right;
        .num{
          font-size: 28px;
          margin-right: 20px;
          }
        }
        }
        .title{
          min-height: 80px;
          padding: 0 20px;
          }
        .subtitle{
          color: #999999;
          font-size: 24px;
          padding: 0 20px;
          }
          .myOrder_content_money{
            text-align: right;
            .money{
                font-size: 28px;
              }
              .num{
                color: #999999;
                font-size: 24px;
                }
            }
    }
  .return_btn{
    button{
      border: 1px solid #B1B1B6;
      font-size: 28px;
      color: #B1B1B6;
      line-height: 1.8;
      padding: 0 24px;
      border-radius: 26px;

    }
    }
    .total{
      .num{
        text{
          color: #D7B975;
        }
        }
      }
      .orderDetail_bottom{
        background-color: #fff;
        font-size: 24px;
        color: #B1B1B6;
        padding: 10px 24px;
        margin-top: 20px;
        .copy_btn{
          float: right;
          line-height: 1.2;
          padding: 0 6px;
          color: #B1B1B6;
          font-size: 24px;
          border: 1px solid #B1B1B6;
          margin-right: 20px;
          }
          text{
            display inline-block;
            padding: 3px 0;
          }
        .seller{
          margin: 20px 0;
          text-align: center;
          image{
            width: 40px;
            vertical-align: sub;
            margin-right: 10px;
          }
          }
        }
  }