.nav {
  width: 100%;
  height: 107rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1rpx solid #F8F8F8;
  background-color: #fff;
  text-align: center;
}

.nav_le {
  width: 46rpx;
  height: 60rpx;
  margin-right: 10rpx;
  .text1 {
    display: block;
    width: 46rpx;
    height: 15rpx;
    font-family: PingFang-SC-Bold;
    font-size: 15rpx;
  }
}

.yq {
  width: 39rpx;
  height: 34rpx;
}



.nav_ri {
  width: 646rpx;
  height: 60rpx;
  background: #f8f8f8;
  border-radius: 30px;
  position: relative;
}

.nav_ri_ss {
  position: absolute;
  width: 27rpx;
  height: 27rpx;
  left: 19rpx;
  top: 16rpx;
}

.input {
  position: absolute;
  width: 300rpx;
  height: 23rpx;
  font-size: 24rpx;
  font-family: PingFang SC;
  font-weight: 400;
  color: #B1B1B6;
  left: 54rpx;
  top: 10rpx
}

.con1 {
  width: 750rpx;
  height: 62rpx;
  background: #FFFFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.txt1,
.txt2 {
  width: 106rpx;
  height: 25rpx;
  font-size: 24rpx;
  font-family: PingFang SC;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}

.txt1 {
  margin-right: 136rpx;
}

.txt1.on,
.txt2.on {
  color: rgba(215, 185, 117, 1);
  font-weight: 800;
}

.con1_d {
  width: 51rpx;
  height: 4rpx;
  background: rgba(215, 185, 117, 1);
  border-radius: 2rpx;
  position: absolute;
  left: 229rpx;
  top: 59rpx;
  transition: all .5s;
}

.con1_d.on {
  left: 464rpx;
}

.top5 {
  width: 696rpx;
  margin: 0 auto;
  margin-top: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content {
  width: 335rpx;
  height: 444rpx;
  border-top-left-radius: 16rpx;
  border-top-right-radius: 16rpx;

}
.content_t {
  width: 335rpx;
  height: 335rpx;
  position: relative;
}

.img1 {
  width: 335rpx;
  height: 335rpx;
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 16rpx;
  border-top-right-radius: 16rpx;
}

.content_b {
  width: 333rpx;
  height: 120rpx;
  background: #FFFFFF;
  position: relative;
  border-bottom-left-radius: 16rpx;
  border-bottom-right-radius: 16rpx;
  .text3{
    font-size:16rpx;
    color:#666;
    position: absolute;
    right: 20rpx;
    bottom: 15rpx;
    image {
      width: 26rpx;
      height: auto;
      margin-right: 5px;
    }
    text {
      color: #666666;
      font-size: 22rpx;
    }
  }
}

.content_b .img {
  width: 54rpx;
  height: 54rpx;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 27rpx;
  bottom: 20rpx;
}
.img .img2 {
  width: 54rpx;
  height: 54rpx;
}

.content_b .text {
  width: 106rpx;
  height: 23rpx;
  font-size: 20rpx;
  font-family: PingFang SC;
  font-weight: bold;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  left: 100rpx;
  bottom: 50rpx;
}
.content_b .text2{
  font-size:16rpx;
  color:#666;
  position: absolute;
  left: 100rpx;
  bottom: 20rpx;
}

.img3 {
  width: 63rpx;
  height: 24rpx;
  position: absolute;
  left: 100rpx;
  bottom: 27rpx;
}
