.address{
  .list{
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 16px;
    .title{
      font-size: 30px;

      .AtTag{
        background-color: #d7b975;
        border: 1px solid #d7b975;
        line-height: 28px;
        height: 28px;

      }
    }
    .text{
      font-size: 26px;
      white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    }
  }
  .bianji{
    color: #b1b1b6;
    margin-top: 16px;
    margin-left: 10px;
    border-left:1px solid #B1B1B6;
  }
  .address_btn{
    position: absolute;
    bottom: 98px;
    width: 100%;
    .btn{
      width: 70%;
      height: 90px;
      line-height: 3;
      font-size: 30px;
      color: #fff;
    }
  }
}
