.myOrder{
  padding-bottom:120px;
  .myOrder_content{
    margin-top: 20px;
    .at-card{
      border: 0;
      }
    .border{
      border:.5px solid #EEEEEE;
      margin: 10px 0;
      }
      .myOrder_content_bottom{
        margin:0 24px;
        background-color: #fff;
        margin-top: -4px;
        padding-bottom: 5px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        position:relative;
      .btn{
        padding: 10px 0;
        overflow: hidden;
        >view{
          .active{
            background-color: #D7B975;
            color: #fff;
            border: 1px solid #D7B975;
            margin-right: 24px;
          }
        }
        button{
          color: #B1B1B6;
          font-size: 28px;
          border: 1px solid #B1B1B6;
          padding: 0 15px;
          line-height: 1.8;
          border-radius:12px;
          margin-left: 20px;
          float: right;
          width: 150px;
        }
        }
        .more{
          color: #B1B1B6;
          padding: 15px 24px;
          }
          .more_btn{
            background-image: url("https://img1.starfox.cn:9001/livefs/image/20200429/19/42/0/icon_delete_order.png");
            background-size: 100%;
            background-position: 0px 1px;
            background-repeat: no-repeat;
            position: absolute;
            bottom: -65px;
            button{
              border: 0;
            }
            }
        }
    .img{
      width: 100%;
      height:auto;
      border-radius: 16px;
      }
    .at-card__header-title{
      color: #282828;
      font-size: 28px;
      }
      .myOrder_content_total{
      .total{
        font-size: 24px;
        color: #333333;
        text-align: right;
        .num{
          font-size: 28px;
          font-weight: bold;
          margin-right: 20px;
          }
        }
        }
        .title{
          min-height: 80px;
          padding: 0 20px;
          }
        .subtitle{
          color: #999999;
          font-size: 24px;
          padding: 0 20px;
          }
          .myOrder_content_money{
            text-align: right;
            .money{
                font-size: 28px;
              }
              .num{
                color: #999999;
                font-size: 24px;
                }
            }
    }
}
