.addressDetail{
  padding-right: 30px;
  background-color: #fff;
  .at-input{
    input{
      font-size:28px;
    }
  }
  .at-input__input,.at-input__title{
    font-size:28px;
  }
  .btn{
    padding: 30px 20px 20px 20px;
    .button{
      margin: 20px 0;
    }
  }
  .default_checkbox{
    overflow:hidden;
    line-height: 96px;
    padding: 0 32px;
    position:relative;
    label{
      float:left;
      font-size:28px;
      width:172px;
    }
    .checkbox{
      float:left;
    }
    .at-checkbox__option{
      float:left;
    }
    .border{
      position:absolute;
      left:0;
      bottom:0;
      border-top:1px solid #d6e4ef;
    }
  }
}
