.index{
    .homepage{
			.back{
				position: absolute;
				top: 6%;
				left: 30px;
				color: #fff;
				font-size: 50px;

			}
			.homepage_bg_img{
				height: 280px;
			}
			.homepage_top{
				background-color: #fff;
				padding: 30px 0;
				margin-bottom: 20px;
				position relative;
				margin-top: -20px;
				.AtAvatar{
					position: absolute;
					top: -40px;
					}
				.btn_attention{
					color: #fff;
					padding: 0 30px;
					//border: 2px solid #B1B1B6;
          border:0;
					border-radius: 32px;
					line-height: 1.8;
					position: absolute;
					top: 10px;
					}
					.btn_share{
						color: #D7BA76;
						padding: 0 30px;
						border: 2px solid;
						border-radius: 32rpx;
						line-height: 1.7;
						position: absolute;
						top: 10px;
						left: 380px;
					}
					.homepage_top_title{
						padding: 0 40px;
						.title{
							font-size: 40px;
							font-weight: bold;
							}
							.text{
								font-size: 26px;
								}
								.id{
									image {
										margin-right: 10px;
									}
									.num{
										font-size: 26px;
										margin-right: 30px;
									}
									}
								.push{
									color: #B1B1B6;
									font-size: 26px;
									margin-top: 46px;
									float: right;
								}
						}
						.homepage_top_mall{
							border-top:1px solid #f8f8f8;
							border-bottom:1px solid #f8f8f8;
							.content{
								overflow hidden;
								color: #D7B975;
								font-size: 26px;
								padding: 16px 40px;
								.title{
									float:left;
									}
									.at-icon-chevron-right{
										float:right;
										margin-top: 3px;
										}
								}
							}
						.homepage_top_content{
							font-size: 26px;
							padding: 0 40px;
							padding-top: 10px;
							.fans{
								color: #B1B1B6;
								padding: 30px 0 20px 0;
								.num{
									color: #333;
									font-weight: bold;
									}
								}
								.address{
									background-color: #F8F8F8;
									color: #B1B1B6;
									white-space: nowrap;
									text-overflow: ellipsis;
									overflow: hidden;
									word-break: break-all;
									width: 95%;
									padding-right:10px;
									position relative;
									image {
										margin-right: 10px;
									}
									.at-icon-chevron-right{
										position: absolute;
										right: -6px;
										top: 6px;

										}
									}
						}
				}
			}
			.homepage_bottom{
				background-color: #fff;
				.AtTabs{
					border-bottom: 1px solid #f8f8f8;
				}
				.at-tabs__item--active{
					color: #D7B975;
				}
				.at-tabs__item-underline{
					left: 50%;
					width: 115rpx;
					background-color: #D7B975;
					margin-left: -57.5rpx;
					height: 4px;

					}
					.playback{
						padding: 30px;

						.video{
							position relative;
							image {
								border-radius: 16px;
							}
							.time{
								position: absolute;
								right: 10px;
								bottom: 10px;
								font-size: 22rpx;
								color: #fff;
								}
							.icon{
								position: absolute;
								left: 10px;
								top: 10px;
								color: #fff;
								font-size: 20px;
								width: 68px;
								text-align: center;
								text {
								padding-bottom: 2px;
								border-radius: 6px;
								width: 100%;
								display: inline-block;

								}
								}
							}
							.content{
								position relative;
								padding-left: 20px;
							.title{
								font-size: 28px;
								}
								.subtitle{
									font-size: 24px;
									color: #B1B1B6;
									position: absolute;
									bottom: 0px;
									width: 100%;
									.more{
										position: absolute;
										bottom: 0px;
										right: 30px;
										color: #B1B1B6;
										transform:rotate(90deg);
										}
									}
								}

						}
	.recommended {
	  width: 696rpx;
	  margin: 0 auto;
	  margin-top: 18px;
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: space-between;
		.content {
			width: 335rpx;
			height: 444rpx;
			background-color: #F8F8F8;
		}

		.content_t {
			width: 335rpx;
			height: 335rpx;
			position: relative;
		}

		.img1 {
			width: 335rpx;
			height: 335rpx;
			position: absolute;
			left: 0;
			top: 0;
		}

		.content_tt {
			width: 335rpx;
			height: 60rpx;
			background: rgba(0, 0, 0, 0.3);
			position: absolute;
			bottom: 0;
			left: 0;
		}

		.content_tt {
			image {
					width: 57rpx;
					height: 24rpx;
					position: absolute;
					left: 18rpx;
					top: 22rpx;
				}
		}

		.content_tt {
			text {
					width: 228rpx;
					height: 17rpx;
					font-size: 18rpx;
					font-family: PingFang SC;
					color: rgba(255, 255, 255, 1);
					position: absolute;
					left: 84rpx;
					top: 22rpx;
				}
		}

		.content_b {
			width: 333rpx;
			height: 109rpx;
			position: relative;
		}

		.content_b {
			.img {
				width: 54rpx;
				height: 54rpx;
				border-radius: 50%;
				overflow: hidden;
				position: absolute;
				left: 27rpx;
				bottom: 27rpx;
			}
		}

		.img {
			.img2 {
					width: 54rpx;
					height: 54rpx;
				}
		}

		.content_b {
			text {
					width: 106rpx;
					height: 23rpx;
					font-size: 24rpx;
					font-family: PingFang SC;
					font-weight: bold;
					color: rgba(51, 51, 51, 1);
					position: absolute;
					left: 100rpx;
					bottom: 60rpx;
				}
		}

		.img3 {
			width: 63rpx;
			height: 24rpx;
			position: absolute;
			left: 100rpx;
			bottom: 27rpx;
		}
	}
				}
  .Share_cen{
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    text-align: center;
    z-index: 10000;
    height: 80px;
    padding: 16px 0;
    border-top: 2px solid #D2D2D2;
  }
    }
