	page {
		position: relative;
	}

.home{
		.nav {
	  width: 100%;
	  height: 107px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  border-bottom: 1px solid #F8F8F8;
	  background-color: #fff;
	}
		.nav_le {
	  width: 46px;
	  height: 60px;
      text-align:center;
	  margin-right: 10px;
      .text1 {
        display: block;
        width: 46px;
        height: 15px;
        font-family: PingFang-SC-Bold;
        font-size: 15px;
      }
	}


	.AtTabs{
		.at-tabs__item-underline{
			width: 56px;
			left: 50%;
			margin-left: -28px;
			height: 4px;
		}
	}
	.yq {
	  width: 39px;
	  height: 34px;
	}



	.nav_ri {
	  width: 646px;
	  height: 60px;
	  background: #f8f8f8;
	  border-radius: 30px;
	  position: relative;
	}

	.nav_ri_ss {
	  position: absolute;
	  width: 27px;
	  height: 27px;
	  left: 19px;
	  top: 16px;
	}

	.input {
	  position: absolute;
	  width: 300px;
	  height: 23px;
	  font-size: 24px;
	  font-family: PingFang SC;
	  font-weight: 400;
	  color: #B1B1B6;
	  left: 54px;
	  top: 10px
	}

	.con1 {
	  width: 750px;
	  height: 62px;
	  background: #FFFFFFFF;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  position: relative;
	}

	.txt1,
	.txt2 {
	  width: 106px;
	  height: 25px;
	  font-size: 24px;
	  font-family: PingFang SC;
	  font-weight: 400;
	  color: rgba(51, 51, 51, 1);
	}

	.txt1 {
	  margin-right: 136px;
	}

	.txt1.on,
	.txt2.on {
	  color: rgba(215, 185, 117, 1);
	  font-weight: 800;
	}

	.con1_d {
	  width: 51px;
	  height: 4px;
	  background: rgba(215, 185, 117, 1);
	  border-radius: 2px;
	  position: absolute;
	  left: 229px;
	  top: 59px;
	  transition: all .5s;
	}

	.con1_d.on {
	  left: 464px;
	}

	.cen {
	  padding: 0 30px;
	.top1 {
	  margin: 0 auto;
	  width: 100%;
	  height: 252px;
	  border-radius: 16px;
	  margin-top: 16px;
	  overflow: hidden;
		image {
	  width: 100%;
	  height: 100%;
	}
	}




	}


	.swiper-box{
		.wx-swiper-dot {

				width: 10px;

				display: inline-flex;

				height: 10px;

				margin-left: 3px;

				justify-content: space-between;
		}
		.wx-swiper-dot-active {
				width: 20px;
				border-radius: 16px;
		}
	}

	.top2 {
	  margin: 18rpx auto 35rpx auto;
		background-color: #fff;
		position relative;
		border-radius: 8px;
		.AtNoticebar{
			width: 90%;
			.view{
				background:#fff;
				border-radius: 8px;
				.at-noticebar__content-text{
					font-size: 22px;
					color: #333;
				}
				.at-icon{
					line-height: 33px;
					color: red;
				}
				.gg2 {
					color: #D7B975;
				}
			}
		}
		.look {
			width: 64px;
			height: 29px;
			border: 1px solid #D7B975;
      border-radius:8px;
			color: #D7B975;
			font-weight: 700;
			text-align: center;
			font-size: 18px;
			position: absolute;
			right: 8px;
			top: 14px;
		}
	}

	.image1 {
	  width: 17px;
	  height: 17px;
	  margin-left: 19px;
	  margin-top: 14px;
	  margin-right: 10px;
	}

	.gg1 {
	  width: 300px;
	  height: 19px;
	  font-size: 20px;
	  font-family: PingFang SC;
	  font-weight: 400;
	  color: rgba(51, 51, 51, 1);
	}



	.gg3 {
	  height: 19px;
	  font-size: 20px;
	}


	.top3 {
	  height: 82px;
	  background: rgba(255, 255, 255, 1);
	  border-radius: 7px;
	  margin: 0 auto;
		.image3 {
			width: 65px;
			height: 65px;
			margin-left: 18px;
			margin-top: 8px;
			float: left;
		}
	.top3_cen {
	  margin-left: 18px;
	  margin-top: 15px;
	  float: left;
	}

	.text3 {
	  display: block;
	  width: 130px;
	  height: 23px;
	  font-size: 24px;
	  font-family: PingFang SC;
	  font-weight: bold;
	  color: rgba(51, 51, 51, 1);
	}

	.text4 {
	  display: block;
	  width: 440px;
	  height: 20px;
	  font-size: 20px;
	  font-family: PingFang SC;
	  font-weight: 400;
	  color: rgba(102, 102, 102, 1);
	  margin-top: 8px;
	}

	.image4 {
	  float: right;
	  width: 64px;
	  height: 29px;
	  border: 1px solid #66DC79;
	  font-size: 18px;
	  font-weight: 700;
	  color: #66DC79;
	  text-align: center;
	  margin-top: 24px;
	  margin-right: 11px;
		line-height: 1.6;
		padding: 2px 0px;
		border-radius: 8px;

	}
	}

	.top4 {
	  height: 60px;
	  background: rgb(248, 248, 248);
	  overflow: hidden;
	  margin-top: 18px;
	}

	.top4_le,
	.top4_ce,
	.top4_ri {
	  width: 219px;
	  height: 60px;
	  background: rgba(255, 255, 255, 1);
	  border-radius: 9px;
	  float: left;
	  position: relative;
	}

	.top4_le {
		text {
	  width: 160px;
	  height: 23px;
	  font-size: 24px;
	  font-family: PingFang SC;
	  font-weight: 400;
	  color: rgba(51, 51, 51, 1);
	  position: absolute;
	  left: 14px;
	  top: 19px;
	}
	}

	.top4_ri,
	.top4_ce {
	  margin-left: 19px;
	}

	.top4_le Image {
	  width: 49px;
	  height: 36px;
	  position: absolute;
	  top: 13px;
	  left: 164px;
	}

	.top4_ce text {
	  width: 170px;
	  height: 23px;
	  font-size: 24px;
	  font-family: PingFang SC;
	  font-weight: 400;
	  color: rgba(51, 51, 51, 1);
	  position: absolute;
	  left: 14px;
	  top: 19px;
	}

	.top4_ce Image {
	  width: 39px;
	  height: 30px;
	  position: absolute;
	  top: 24px;
	  left: 175px;
	}

	.top4_ri text {
	  width: 170px;
	  height: 23px;
	  font-size: 24px;
	  font-family: PingFang SC;
	  font-weight: 400;
	  color: rgba(51, 51, 51, 1);
	  position: absolute;
	  left: 14px;
	  top: 19px;
	}

	.top4_ri image {
	  width: 26px;
	  height: 30px;
	  position: absolute;
	  top: 20px;
	  left: 184px;
	}

	.top5 {

	.content {
	  width: 335px;
	  height: 444px;
    margin-bottom:20px;
	}
	}


	.content_t {
	  width: 335px;
	  height: 335px;
	  position: relative;
		overflow: hidden;
	}

	.img1 {
	  width: 100%;
	  position: absolute;
	  left: 0;
	  top: 0;
		border-radius: 16px;
	}

	.content_tt {
	  width: 335px;
	  height: 60px;
	  background: rgba(0, 0, 0, 0.3);
	  position: absolute;
	  bottom: 0;
	  left: 0;
		image {
	  width: 57px;
	  height: 24px;
	  position: absolute;
	  left: 18px;
	  top: 22px;
	}
	text {
	  width: 228px;
	  height: 17px;
	  font-size: 18px;
	  font-family: PingFang SC;
	  color: rgba(255, 255, 255, 1);
	  position: absolute;
	  left: 84px;
	  top: 22px;
	}
	}


	.content_b {
	  width: 333px;
	  height: 109px;
	  background: #FFFFFF;
	  position: relative;
		border: 1px solid #fff;
		border-bottom-right-radius: 16px;
		border-bottom-left-radius: 16px;
.img {
	  width: 54px;
	  height: 54px;
	  border-radius: 50%;
	  overflow: hidden;
	  position: absolute;
	  left: 27px;
	  bottom: 27px;
	}
	.img2 {
	  width: 54px;
	  height: 54px;
	}
	text {
	  //width: 106px;
	  height: 23px;
	  font-size: 24px;
	  font-family: PingFang SC;
	  font-weight: bold;
	  color: rgba(51, 51, 51, 1);
	  position: absolute;
	  left: 100px;
	  bottom: 60px;
	}
	}

	.img3 {
	  width: 63px;
	  height: 24px;
	  position: absolute;
	  left: 100px;
	  bottom: 27px;
	}

	.yqy {
	  width: 750px;
	  background: rgba(248, 248, 248, 1);
	  padding-top: 20px;
	}

	.n1 {
	  width: 750px;
	  height: 200px;
	  position: relative;
	  background: #FFFFFF;
	  margin-top: 9px;
		.wz1 {
	  width: 110px;
	  height: 26px;
	  font-size: 27px;
	  font-family: PingFang SC;
	  font-weight: 400;
	  color: rgba(51, 51, 51, 1);
	  position: absolute;
	  top: 22px;
	  left: 28px;
	  line-height: 26px;
	}
	.con {
	  width: 696px;
	  height: 138px;
	  border-top: 1px solid rgba(248, 248, 248, 1);
	  position: absolute;
	  top: 62px;
	  left: 27px;
		.fillInWechat{
			position: absolute;
			left: 109px;
			top: 76px;
			.at-input{
				margin-left: 0;
				padding: 0;
				input{
					font-size: 22px;
				}
			}

		}
	}
	}

	.tx1 {
	  width: 90px;
	  height: 90px;
	  position: absolute;
	  left: 0;
	  top: 30px;
	}

	.pp {
	  background: #F09D3E;
	  width: 63px;
	  height: 24px;
	  border: 2px solid rgba(248, 214, 139, 1);
	  border-radius: 5px;
	  position: absolute;
	  left: 12px;
	  top: 102px;
		text {
	  width: 48px;
	  height: 16px;
	  font-size: 16px;
	  font-family: PingFang SC;
	  font-weight: 400;
	  color: rgba(255, 255, 255, 1);
	  line-height: 16px;
	  position: absolute;
	  left: 8.5px;
	  top: 4.5px;
	}
	}

	.tst1 {
	  //width: 104px;
	  height: 23px;
	  font-size: 24px;
	  font-weight: 800;
	  color: rgba(51, 51, 51, 1);
	  position: absolute;
	  left: 110px;
	  top: 40px;
	}

	.tb {
	  position: absolute;
	  left: 212px;
	  height: 40px;
	  overflow: hidden;
	  top: 37px;
	}

	.hui {
	  width: 35px;
	  height: 27px;
	  margin-left: 10px;
	}

	.qi {
	  width: 25px;
	  height: 29px;
	  margin-left: 10px;
	}

	.tst2 {
	  width: 180px;
	  height: 22px;
	  font-size: 20px;
	  font-family: PingFang SC;
	  font-weight: 400;
	  color: rgba(177, 177, 182, 1);
	  position: absolute;
	  left: 109px;
	  top: 90px;
	}

	.fz {
	  position: absolute;
	  right: 50px;
	  top: 64px;
	  border: 1px solid #D7B875;
	  padding: 5px 30px;
    font-size: 26px;
	  border-radius: 25px;
		color: #D7B875;
	}

	.tx {
	  width: 22px;
	  height: 22px;
	  position: absolute;
	  left: 360px;
	  top: 89px;
	}

	.wz2 {
	  width: 290px;
	  height: 20px;
	  font-size: 20px;
	  font-family: PingFang SC;
	  font-weight: 400;
	  color: rgba(177, 177, 182, 1);
	  position: absolute;
	  left: 155px;
	  top: 24px;
	}

	.zw {
	  position: absolute;
	  left: 245px;
	  top: 64px;
	  width: 240px;
	  height: 21px;
	  font-size: 22px;
	  font-family: PingFang SC;
	  font-weight: 400;
	  color: rgba(177, 177, 182, 1);
	}

	.tc {
	  position: fixed;
	  left: 0;
	  top: 173px;
	  width: 750px;
	  height: 1314px;
	  background: rgba(0, 0, 0, .5);
	  z-index: 999999999;
	}



	.tc_cen {
		text-align: center;
		color: #333;
		.at-article__h4{
				font-weight: 600;
				font-size: 30px;
			}
		.img{
			width: 100%;
		}
	.tc_Text{
	  width:351px;
	  height:54px;
	  font-size:25px;
	  margin: 0 auto;
	}
	.at-modal__content{
		height: 540px;
	}
	.AtButton{
		width: 230rpx;
		margin: 0 auto;
		margin-bottom: 30px;
		button{
			border-radius: 18px;
		}
	}
	}



	}

